language: node_js
cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache
    - node_modules
node_js:
  - 'stable'
before_install:
  - npm i -g yarn --cache-min 999999999
install:
  - yarn
before_script:
  - yarn typescript
  - yarn lint
after_success:
  - yarn coverage
